# Python cache
__pycache__/
*.pyc

# Virtual envs
venv/
.env/
.venv/

# Jupyter / Colab
.ipynb_checkpoints/

# Large data and outputs
data/
outputs/checkpoints/
outputs/logs/
outputs/figures/

# OS files
.DS_Store
Thumbs.db
